.salesAgent-dropdown{
display: inline-block !important;
margin-right: 1rem;
width: 25% !important;
margin-top: 8px;
}

/* Lead Management css */

/* PAGE LAYOUT */
.lead-page {
  display: flex;          /* SIDEBAR + CONTENT SIDE BY SIDE */
  min-height: 100vh;      /* FULL HEIGHT */
  background-color: #f8fafc;
}

/* MAIN CONTENT AREA */
.lead-content {
  flex: 1;                /* TAKE REMAINING WIDTH */
  padding: 24px 32px;
  box-sizing: border-box;
}

/* PAGE TITLE */
.page-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}


.main-content-padding{
  padding-left: 18rem !important;
  padding-top: 1.5rem;
  padding-right: 3rem;
}